.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}



body {
    background-color: #98002E;
}

#wadeHeader .img-responsive{
 
    background-size: cover;
  
}
.container iframe{
    position: relative;
    top: -100px;
}
.section-one iframe{
    position: relative;
     top: -100px;
} 
.section-two iframe{
    position: relative;
     top: -0px;
}
.section-three iframe{
    position: relative;
     top: 0px;
}
.section-four iframe{
    position: relative;
     top: -170px;
}
.section-five iframe{
    position: relative;
     top: 0px;
}
.section-six iframe{
    position: relative;
     top: 0px;
}
.section-seven iframe{
    position: relative;
     top: ;
}

.section-eight iframe{
    position: relative;
     top: -130px;
}
.section-nine iframe{
    position: relative;
     top: -250px;
}

.section-ten iframe{
    position: relative;
     top: -100px;
}

.section-eleven iframe{
    position: relative;
     top: -170px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


footer {
    background-image: url("backdrop.jpg");
}